{% extends 'base.html.twig'  %}

{% block body %}
<style>
    .example-wrapper { margin: 2em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #FFFFFF; padding: 2px 6px; }
    .error {color: red}
</style>
<div class="jumbotron text-center p-4">
    <h1 class="display-4">Liste des inscrits</h1>
</div>
<div class="example-wrapper">
    <div class="container">
        <div class="table-responsive-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Date de naissance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscrit in lesInscrits %}
                        <tr>
                            <th scope="row">{{inscrit.id}}</th>
                            <td>{{inscrit.nom}}</td>
                            <td>{{inscrit.prenom}}</td>
                            <td>{{inscrit.mail}}</td>
                            <td>{{inscrit.telephone}}</td>
                            <td>{{inscrit.contact}}</td>
                            <td>{{inscrit.dateNaissance|date("m/d/Y")}}</td>
                            <td><a class="btn btn-primary"href="{{path('addInscription', {'id' : inscrit.id})}}">Inscrire</a></br></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} 



{# <select class="form-control" size="15">
        {% for inscrit in lesInscrits %}
        <form action ="{{path('addInscription',{id: inscrit.id})}}" method="GET">
        <option>{{inscrit.nom}} {{inscrit.prenom}}</option>
        {% endfor %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Ajouter Inscription</button>
        </div>
    </div>
</form> #}
 {# <select class="custom-select" size="15">
     {% for inscrit in lesInscrits %}
        <option>{{inscrit.nom}} {{inscrit.prenom}}</option>
         </select> 
    <form action ="{{path('addInscription',{id: inscrit.id})}}" method="POST">
     <a href="{{path('addInscription', {id: inscrit.id})}}"class="btn btn-primary">Ajouter Inscription</a> 
{% endfor %} #}
{# </div>
</div> #}
