 <table class="table">
        <thead class="thead-dark">
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th></th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          {% for atelier in lesAteliers %}
          <tr>
              <th scope="row">{{atelier.id}}</th>
              <td>{{atelier.nom}}</td>
              <td>{{atelier.description}}</td>
              <td>{{atelier.Statut}}</td>
              <td>{{atelier.prix}}</td>
              <td>{{atelier.public}}</td>
              <td>{{atelier.ageAtelier|join(',')}}</td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>