{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 2em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #FFFFFF; padding: 2px 6px; }
    .error {color: red}
</style>

<div class="jumbotron text-center p-4">
    <h1 class="display-4">Liste des ateliers archivés</h1>
</div>
<div class="example-wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary text-center" href="{{path('listeAteliers')}}">Liste des Ateliers</a>
            </div>
        </div><br/>
        <div class="table-responsive-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Public</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Type</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {%for atelier in lesAteliersArchive %}
                        <tr>
                            <th scope="row">{{atelier.id}}</th>
                            <td>{{atelier.titre}}</td>
                            <td>{{atelier.public}}</td>
                            <td>{{atelier.statut}}</td>
                            <td>{{atelier.type}}</td>
                            <td>{{atelier.prix}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}