{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center p-4">
  <h1 class="display-4">Planification</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-center">
          <a class="btn btn-primary" href="{{path('addInstance')}}">Ajouter une instance</a>
          <a class="btn btn-secondary" href="{{path('listeInstancesArchiver')}}">Archive</a>
        </div>
    </div><br/>
    <div class="table-responsive-sm">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Public</th>
            <th scope="col">Atelier</th>
            <th scope="col">Statut</th>
            <th scope="col">Animateur</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for instance in allInstances %}
            <tr>
              <th scope="row">{{instance.id}}</th>
              <td>{{instance.atelier.public}}</td>
              <td>{{instance.atelier.titre}}</td>              
              <td>{{instance.statut}}</td>
              <td>{{instance.animateur.nom}}</td>
              <td><a class="btn btn-danger" href="{{path('archiverInstance',{'id': instance.id})}}">Archiver</a></br></td>
              <td><a class="btn btn-primary" href="{{path('editInstance',{'id' : instance.id})}}">Modifier</a></br></td>
            </tr>
          {% endfor %}
        </tbody>
      </div>
    </table>
  </div>
{% endblock %} 