{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center p-4">
  <h1 class="display-4">Planification</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary text-center" href="{{path('addinscrit')}}">Ajouter un inscrit</a>
        </div>
    </div><br/>
    <div class="table-responsive-sm">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Public</th>
            <th scope="col">ID Atelier</th>
            <th scope="col">Atelier</th>
            <th scope="col">Salle</th>
            <th scope="col">Animateur</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for inscrit in allinscrits %}
            <tr>
              <th scope="row">{{inscrit.id}}</th>
              <td>{{inscrit.dateinscrit|format_datetime(locale='fr')}}</td>
              <td>{{inscrit.nom}}</td>
              <td>{{inscrit.prenom}}</td>
              <td>{{inscrit.atelier.description}}</td>
              <td>{{inscrit.salle.nomSalle}}</td>
              <td>{{inscrit.animateur.nom}}</td>
              <td><a class="btn btn-danger" href="{{path('delinscrit', {'id' : inscrit.id})}}">Supprimer</a></br></td>
              <td><a class="btn btn-primary" href="{{path('editinscrit',{'id' : inscrit.id})}}">Modifier</a></br></td>
            </tr>
          {% endfor %}
        </tbody>
      </div>
    </table>
  </div>
{% endblock %} 