{% extends 'base.html.twig'  %}
{% block body %}
<style>
    .example-wrapper { margin: 2em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #FFFFFF; padding: 2px 6px; }
    .error {color: red}
</style>
<div class="jumbotron text-center p-4">
    <h1 class="display-4">Les séances</h1>
</div>
<div class="example-wrapper">
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Seance</th>
                <th scope="col">Date</th>
                <th scope="col">Salle</th>
                <th></th>
            </tr>
        </thead>
    
        {% for i in range(0, instance.atelier.nbSeances - 1) %}        
            {% set form = formObject.createView %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                <tbody>
                    <tr>
                        {{ form_start(form) }}
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ form_widget(form.date) }}</td>
                        <td>{{ form_widget(form.salle) }}</td>
                        <td>{{ form_row(form.Ajouter) }}</td>
                        {{ form_end(form) }}
                    </tr>
                </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %} 
